---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import vielser from "../assets/images/vielser.svg";
---

<MainLayout title="Titel">
  <section class="grid mx-auto container gap-8 prose">
    <article class="">
      <h1>Lorem Ipsum</h1>
      <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
      <p>Sit error quam blanditiis ratione deleniti voluptate voluptas laboriosam maiores similique repellendus tempore consequatur, enim quas.</p>
      <p>Natus officiis distinctio possimus a deserunt?</p>
      <h3>Lorem Ipsum</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      <p>Sit error quam blanditiis ratione deleniti voluptate voluptas laboriosam maiores similique repellendus tempore consequatur, enim quas.</p>
      <p>Natus officiis distinctio possimus a deserunt?</p>
    </article>
    <div>
      <h3>Er vi blevet mindre traditionelle?</h3>
      <Image src={vielser} alt="" />
      <p class="italic text-sm">Oversigt over vielser efter vielsesmyndigheder. Data fra vielses.pdf</p>
    </div>

    <article class="">
      <h3>Lorem Ipsum</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      <p>Sit error quam blanditiis ratione deleniti voluptate voluptas laboriosam maiores similique repellendus tempore consequatur, enim quas.</p>
    </article>
  </section>
</MainLayout>
